xournalpp/autosave
xournalpp/metadata
xournalpp/emergencysave.xopp
QtProject.conf
Signal/
cef_user_data/
cmus/cache
cmus/command-history
cmus/lib.pl
cmus/playlists/
cmus/search-history
dconf/
fastfetch/
flameshot/
gtk-3.0/
libreoffice/
mimeapps.list
pulse/
MusicBrainz/Picard-*
mpv/watch_later
nicotine
