Mullvad VPN/
MusicBrainz/Picard-*
QtProject.conf
Signal/
cef_user_data/
cmus/cache
cmus/command-history
cmus/lib.pl
cmus/playlists/
cmus/search-history
dconf/
discord
fastfetch/
flameshot/
forge
gtk-2.0/
gtk-3.0/
ibus
keepassxc/keepassxc.ini
libreoffice/
mimeapps.list
mpv/watch_later
nemo
nicotine
pavucontrol.ini
pulse/
rstudio/
syncthing/
teams/
transmission/blocklists
transmission/dht.dat
transmission/resume
transmission/stats.json
transmission/torrents
xournalpp/autosave
xournalpp/emergencysave.xopp
xournalpp/metadata
xournalpp/settings.xml
zoom.conf
zoomus.conf
