*#*#*
*__pycache__*
*~
/util_ninja/build/
Microsoft/
Mullvad
MusicBrainz/Picard-*
QtProject.conf
Recoll.org/
Signal/
Thunar/
autorandr/
autostart/
backupSignal/
beets/library.db
beets/state.pickle
borg/
cef_user_data/
chromium/
cmus/cache
cmus/command-history
cmus/lib.pl
cmus/playlists/
cmus/search-history
cura/
d VPN/
dconf/
discord
emacs/.cache/
emacs/.lsp-session-v1
emacs/.org-id-locations
emacs/ac-comphist.dat
emacs/auto-save-list/
emacs/bookmarks
emacs/bookmarks~
emacs/client_scripts/mu4e-setup.el
emacs/codespaces.el/
emacs/devdocs/
emacs/eln-cache/
emacs/elpa/
emacs/emms/
emacs/eshell/
emacs/eww-bookmarks
emacs/games/
emacs/image-dired/
emacs/init.el~
emacs/network-security.data
emacs/nov-places
emacs/org-roam.db
emacs/places
emacs/request/
emacs/straight/
emacs/tramp
emacs/transient/
emacs/tutorial/
emacs/url/
enchant/
fastfetch/
flameshot/
forge
gammastep/
gtk-2.0/
gtk-3.0/
ibus
inkscape/
jellyfin/
jgit/
jxbrowser/
keepassxc/keepassxc.ini
kitty/
libreoffice/
mbsync/
menus/
mimeapps.list
mpv/scripts/mpris.so
mpv/scripts/sponsorblock_shared/
mpv/watch_later
nemo
nicotine
nwjs/
pavucontrol.ini
pulse/
qmk/
rstudio/
simple-scan/
syncthing/
syncthing/
teams/
transmission/
util_ninja/state
xournalpp/autosave
xournalpp/emergencysave.xopp
xournalpp/metadata
xournalpp/settings.xml
xsettingsd/
zoom.conf
zoomus.conf