SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="34:7d:f6:35:0d:ef", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="wlan*", NAME="wlan0"
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="00:2b:67:a8:7c:e0", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="eth*", NAME="eth0"
