[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jerome/script]
row=3
col=1

[/home/jerome/media]
row=0
col=1

[/home/jerome/misc]
row=2
col=1

[/home/jerome/Desktop]
row=0
col=2

[/home/jerome/Sync]
row=1
col=1

[0DF9-7FD3]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=2
col=0

[/home/jerome]
row=1
col=0

